babel
# bullseye version, focal patched 2.10
chardet
cryptography
decorator
docutils
ebaysdk
freezegun
genshi
geoip2
gevent
greenlet
html2text
idna
invoice2data
jinja2
libsass
lxml
# lxml 4.6.1 has incompatibility issues with python 3.10
mako
markupsafe
mock
num2words
ofxparse
paramiko
passlib
pillow
polib
psutil
psycopg2
py3o.formats
py3o.template
py-asterisk
pycoda
pycrypto
pycups
pydot
pykcs11
pyldap
pyopenssl
pyparsing
pypdf2
pyserial
python-dateutil
python-ldap
python-stdnum
pytz
pyusb
qrcode
reportlab
requests
smbpasswd
urllib3
vobject
werkzeug
xlrd
xlsxwriter
xlwt
xmlsec
zeep
