babel
# bullseye version, focal patched 2.10
chardet
decorator
docutils
ebaysdk
feedparser
freezegun
genshi
gevent
greenlet
html2text
idna
invoice2data
jinja2
libsass
lxml
mako
markupsafe
mock
num2words
ofxparse
paramiko
passlib
pillow
polib
psutil
psycopg2
py3o.formats
py3o.template
py-asterisk
pycoda
pycrypto
pycups
pydot
pykcs11
pyldap
pyopenssl
pyparsing
pypdf2
pyserial
python-dateutil
python-ldap
python-stdnum
pytz
pyusb
pyyaml
qrcode
reportlab
requests
smbpasswd
vatnumber
# vatnumber requirement. last version compatible
vobject
werkzeug
xlrd
xlsxwriter
xlwt
xmlsec
zeep
